<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Скинути пароль</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">Ключ скидання відсутній.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Виберіть новий пароль</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Ваш пароль не може бути скинутий. Запам'ятайте: запит пароля дійсний тільки протягом 24 годин.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Ваш пароль був скинутий</strong> Будь ласка, </span>
        <a class="alert-link" routerLink="/login">авторизуватися</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Пароль і його підтвердження не збігаються!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Новий пароль</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Новий пароль"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Пароль необхідно вказати.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Довжина пароля повинна бути хоча б 4 символів
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Пароль не може бути довшим ніж 50 cимволів
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Підтвердження нового пароля</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Підтвердіть новий пароль"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Підтвердження пароля необхідно вказати.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Довжина підтвердження пароля повинна бути хоча б 4 символів
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Підтвердження пароля не може бути довшим ніж 50 cимволів
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Підтвердіть новий пароль</button>
        </form>
      </div>
    </div>
  </div>
</div>
